$fontAwesomePath: "../components/font-awesome/font";

$font-family: Ubuntu, Tahoma, sans-serif;
$font-colour: #2c3e50;

$component-background: rgba(236, 240, 243, 0.9);

$destination-background: #bdc3c7;
$destination-font-colour: #2c3e50;
