$controls-vertical-padding: 8px;

.controls {
  background: $component-background;
  position: absolute;
  right: 0;
  top: 0;
  left: auto !important; // Prevents jQuery UI ruining the layout while resizing
  width: 22%;
  padding: $controls-vertical-padding 12px;
  @include calc(height, "100% - " + $controls-vertical-padding * 2)
}
