.controls {
  background: $component-background;
  position: absolute;
  right: 0;
  top: 0;
  left: auto !important; // Prevents jQuery UI ruining the layout while resizing
  width: 22%;
  padding: 8px 12px;
}
